{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installation Manual</title>
    <base target="_self">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--stylesheets / link tags loaded here-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- <link href="https://surveyjs.azureedge.net/1.0.15/survey.css" type="text/css" rel="stylesheet"/> -->

    <!-- <link href="{% static "css/study6/instructions.css" %}" rel="stylesheet"> -->

</head>

<body >

<div class="container">

    <div class="row">
        <br>  <br>
        <div class="text-center">
            <h1><strong>Study to Measure Daily Computer Power Usage</strong></h1><br><br>
            <h1><strong>Software Installation Manual</strong></h1><br>
        </div>
        <br>
        <br>

        <p class="lead">
            Step 1: Download the Software. It is a zip file, named: “PowerMeterApp.zip”.
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 2: Extract (right mouse button click and extract) the zip file to get the executable file named: “PowerMeterApp.msi”
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 3: Double click on the executable file “PowerMeterApp.msi”.
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 4: Click on the Next button.
            &nbsp;<br>
            <img class="img-responsive center-block" src={% static "images/installation/install_1.png" %} style="width: 500px;">
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 5: Click on the Next button.
            &nbsp;<br>
            <img class="img-responsive center-block" src={% static "images/installation/install_2.png" %} style="width: 500px;">
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 6: Click on the Install button.
            &nbsp;<br>
            <img class="img-responsive center-block" src={% static "images/installation/install_3.png" %} style="width: 500px;">
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 7: Click on the Yes button.<br>
            (Depending on your download location, you will see a different directory on the red boxed area.)
            &nbsp;<br>
            <img class="img-responsive center-block" src={% static "images/installation/install_4.jpg" %} style="width: 500px;">
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 8: Click on the Finish button. <br>
            Leave the “Launch PowerMeterApp” check box checked.
            &nbsp;<br>
            <img class="img-responsive center-block" src={% static "images/installation/install_5.png" %} style="width: 500px;">
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 9: Enter your MTurk ID and Windows Operating System Version. Submit.
            &nbsp;<br>
            <img class="img-responsive center-block" src={% static "images/installation/install_6.png" %} style="width: 500px;">
            &nbsp;<br><br>
        </p>

        <p class="lead">
            Step 10: You will get the 5-letter MTurk completion code. Enter the code in MTurk for compensation first. <br>
            Then, click on the OK button.
            &nbsp;<br>

            <img class="img-responsive center-block" src={% static "images/installation/install_7.png" %} style="width: 500px;">
            &nbsp;<br><br>
        </p>
    </div>

    <hr class="featurette-divider">

</div>
  <!-- /.container -->



<script>

</script>

<!--scripts loaded here-->

<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


<!-- <script src="https://surveyjs.azureedge.net/1.0.15/survey.jquery.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>


<!-- <script src="{% static "js/study6/infoSheet.js" %}"></script> -->



</body>
</html>
